/* universal section starts */
* {
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* universal section ends */

/* header section starts */

header {
    display: flex;
    justify-content: space-around;
    background-color: #E554731A;
    padding: 30px 140px;
    height: 600px;
}

.header-text {
    width: 600px;
    margin-top: 40px;
}

header h1 {
    color: #272727;
    font-size: 60px;
    font-weight: 700;
    margin-top: 120px;
    font-family: Lato;
}

header img {
    display: block;
    width: 500px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    border: none;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
}

/* header section ends */

/* paragraph styles starts */
p {
    font-size: 20px;
    margin: 30px 0px;
    font-family: Lato;
    color: rgba(39, 39, 39, 0.60);
}

/* paragraph styles ends */

/* main section styles starts */
main {
    text-align: center;
}

/* second-section style starts */
.second-section {
    padding: 100px 0;
    max-width: 1300px;
    margin: auto;
}

.second-section h2 {
    font-size: 45px;
}

.second-section p {
    margin-bottom: 50px;
}

.images-container {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.second-section img {
    display: block;
}

.image-one {
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    background-color: #477D1126;
    padding: 60px 50px 0;
}

.image-two {
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    background-color: #0597A026;
    padding: 100px 50px 0;
}

.image-three {
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    background-color: #A7216226;
    padding: 100px 50px 0;
}

.second-section-text {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.second-section-text h4 {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* second-section style ends */

/* fourth-section style starts */
.hotdeal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    padding: 100px;
    background-color: #E554730D;
}

.offer {
    color: #E55473;
    font-size: 40px;
}

/* fourth-section style ends */